ansiwrap==0.8.3
appdirs==1.4.3
Brotli==0.6.0
certifi==2017.4.17
chardet==3.0.4
click==6.7
colorama==0.3.9
fonttools==3.13.1
-e git+https://github.com/jamesssooi/font-cli.git@c08a7403d98db227413b0a1c822baf594ed27a8a#egg=fonty
idna==2.5
python-dateutil==2.6.1
requests==2.18.1
Send2Trash==1.3.0
six==1.10.0
termcolor==1.1.0
textwrap3==0.9.1
timeago==1.0.7
urllib3==1.21.1
Whoosh==2.7.4
wrapt==1.10.10
